---
---

<section class="about-me-section" id="page-1">
  <article class="about-me-article">
    <h2 class="about-me-h2">About</h2>
    <span class="skills-line-connector about"></span>
    <div class="about-me-text-container">
      <p class="about-me-p">
        Hey! My name is Kevin and I enjoy building cool things for the internet.
        With a background in specialty coffee consulting and education, software
        engineering was a natural fit - after all the tech world never stops
        evolving and caffeine is definitley needed to keep up!
      </p>
      <p class="about-me-p">
        Outside of the software engineering world, photography is my first love.
        I like to work on documentary style projects in faraway places.
        Occasionally I share my thoughts on foreign/art films on my blog,
        ReelTalk. Development has given me the ability to express my creativity
        in a completely new way, and I love being able to explore that while
        contributing to interesting and forward-thinking projects.
      </p>
    </div>
  </article>
</section>
