---
---

<section class="footer-section" id="page-4">
  <article class="footer-content-container">
    <h2 class="footer-h2">Lets Work Together</h2>
    <div class="footer-main-text">
      <p class="footer-p">
        I'm currently looking for new opportunities, so give me a shout and
        let's make some magic! Whether you have a question or just want to say
        hi, I’ll try my best to get back to you!
      </p>
      <div class="hero-button-container">
        <a
          href="mailto:kevinq.to@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="hero-button">Get in touch with me!</button>
        </a>
      </div>
    </div>
    <div class="footer-attributions">
      <p>Designed & built by Kevin To</p>
      <p>AstroJS | Radix-UI | React | React-Spring</p>
    </div>
  </article>
</section>
