---
import profilePicture from '../../assets/pictures/profileMe.jpg';
---

<main class="hero-main">
  <section class="hero-section">
    <article class="hero-article">
      <h1 class="hero-h1">
        Howdy! <br /> I&apos;m <span class="hero-name-dec">Kevin To</span>
      </h1>
      <p class="hero-p">
        <span class="hero-title-dec">Frontend</span> & <span
          class="hero-title-dec">fullstack developer</span
        > based in the US. I specialize in building beautiful and functional user
        interfaces with clean and performant code
      </p>
    </article>
    <img class="hero-img" src={profilePicture} alt="Picture of Kevin" />
  </section>
</main>

<style></style>
