---
import Accordion from '../react/ProjectsAccordion';
---

<section class="projects-section">
  <h2 class="projects-h2">Projects</h2>
  <article class="projects-article">
    <Accordion client:visible />
  </article>
</section>
