---
import Accordion from '../react/ProjectsAccordion';
---

<section class="projects-section" id="page-2">
  <div class="projects-h2-line-container">
    <h2 class="projects-h2">Projects</h2>
    <span class="skills-line-connector projects"></span>
  </div>

  <article class="projects-article">
    <Accordion client:visible />
  </article>
</section>
