---
import SkillsContainer from '../react/SkillsContainer';
---

<section class="skills-section" id="page-3">
  <SkillsContainer />
  <span class="skills-line-connector"></span>
  <h2 class="skills-section-h2">Skills</h2>
</section>
